@font-face {
    src: url(font/Orbitron-Medium.ttf);
    font-family: Orbitron;
}

@font-face {
    src: url(font/WorkSans-Regular.ttf);
    font-family: WorkSans;
}

@font-face {
    src: url(font/WorkSans-Bold.ttf);
    font-family: WorkSans-Bold;
}

body {
    font-family: WorkSans;
}

h6 {
    font-family: WorkSans-Bold;
}

.bg {
    color: white;
    background-color: lightseagreen;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
}

.fontsize_14 {
    font-size: 14px !important;
}

.font_number {
    font-family: Orbitron !important;
}

.font_red {
    color: red !important;
    font-weight: bold;
    font-size: 18px;
    font-family: Orbitron;
}

.start-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    z-index: 10000;
}

#start {
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    text-transform: uppercase;
    width: 120px;
    height: 120px;
    border: 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    color: lightgrey;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    outline: none;
}

#start:hover {
    border: 5px solid lightseagreen;
    color: lightseagreen;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

#time {
    color: white;
    background-color: lightseagreen;
    margin-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: Orbitron;
}

@media (max-width: 575.98px) {
    #time2>span#user_time {
        display: none;
    }
    #time2 {
        left: 0px;
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #time2>span#user_time {
        display: none;
    }
    #time2 {
        left: 0px;
        font-size: 25px;
    }
}

.fixed_scroll {
    position: fixed;
    top: 0;
    z-index: 1071;
    width: 100%;
    animation-duration: 2s;
    transition: top 0.1s;
    display: block;
    font-size: 30px;
    font-family: Orbitron;
}

div.fixed_scroll {
    position: fixed;
    top: 10px;
    z-index: 1071;
    width: 100%;
    /* animation-name: showTheTime;
    animation-duration: 2s; */
}

#question_content {
    border: 2px solid lightseagreen;
}

#question_content input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid black;
    cursor: pointer;
}

#question_content input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: lightseagreen;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    box-shadow: 1px 1px 2px 2px black;
    cursor: pointer;
    display: inline-block;
}

.score_PerCent {
    --animate-duration: 4s;
    color: #000;
}


/* @keyframes showTheTime {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
} */